In [2]:
import pandas as pd
import numpy as np
import random

In [4]:
df = pd.read_csv('dummy_users.csv')
df.head()

,id_user,name,surname,email,phone,location,dni,birth,picture
0,NaN,María,Rodríguez,mariarodriguez@gmail.com,5411786918188,"San Isidro, Buenos Aires, Argentina",37326160,1995-08-20,NaN
1,NaN,Carlos,González,carlosgonzalez@gmail.com,5411261812992,"Tigre, Buenos Aires, Argentina",22471163,1988-05-03,NaN
2,NaN,Ana,López,analopez@gmail.com,5411636734544,"Pilar, Buenos Aires, Argentina",40047796,2000-02-15,NaN
3,NaN,Lucía,Martínez,luciamartinez@gmail.com,5411361189621,"Escobar, Buenos Aires, Argentina",40208734,1990-11-25,NaN
4,NaN,Pedro,Fernández,pedrofernandez@gmail.com,5411233328760,"San Fernando, Buenos Aires, Argentina",28158580,1992-09-10,NaN

In [9]:
df_users = pd.DataFrame({
    'id_user': [np.NaN]*len(df),
    'email' : df['mail'].apply(lambda x: x.replace('gmail.com', 'whatthefish.info')).to_list(),
    'password' : ['changas']*len(df)
})
df_users.to_csv('dummy_users_accounts.csv', index=False)

In [6]:
df['id_user'] = df['id_user'].apply(lambda x: np.NaN)

In [16]:
df['phone'] = df['phone'].apply(lambda x: int(f'5411{"".join([str(random.choice(range(0, 10))) for i in range(9)])}'))

In [17]:
df.to_csv('version2.csv', index=False)

In [14]:
dn = pd.read_csv('users_rows.csv')
dn = dn.drop([0,1,2], axis=0).reset_index().drop('index', axis=1)
dn.head()

,id_user,email,password
0,05f97d15-dd6d-4bc9-8463-7ad8001da89b,mariarodriguez@whatthefish.info,changas
1,27749d94-7f19-448f-bf23-0c1108d9a232,carlosgonzalez@whatthefish.info,changas
2,18982ad1-6bf8-4e72-8504-fd2eca42a598,analopez@whatthefish.info,changas
3,5b1205a1-0d14-4df4-a1e5-6cf137e8770e,luciamartinez@whatthefish.info,changas
4,81b2e3fd-51f4-4b57-8217-9760f71d7cf1,pedrofernandez@whatthefish.info,changas

In [15]:
df['id_user'] = dn['id_user']
df['email'] = dn['email']

In [16]:
df.to_csv('dummy_users_data.csv', index=False)