In [9]:
import pandas as pd
import numpy as np
import random

In [4]:
df = pd.read_csv('dummy_users.csv')
df.head()

,id_user,name,surname,mail,phone,location,dni,birth,picture
0,95y5l96g-fba1-1oz7-0116-giow2865q964,María,Rodríguez,mariarodriguez@gmail.com,5.432112e+11,"San Isidro, Buenos Aires, Argentina",37326160,1995-08-20,NaN
1,nfi7965n-8npy-lckx-949e-aqfn8a16le6l,Carlos,González,carlosgonzalez@gmail.com,5.432113e+11,"Tigre, Buenos Aires, Argentina",22471163,1988-05-03,NaN
2,1ot86im7-19v5-ifj9-415h-gc83j8wm1f79,Ana,López,analopez@gmail.com,5.432115e+11,"Pilar, Buenos Aires, Argentina",40047796,2000-02-15,NaN
3,8967q56j-q1fj-sqc8-7za1-qzuvi4kt4964,Lucía,Martínez,luciamartinez@gmail.com,5.432116e+11,"Escobar, Buenos Aires, Argentina",40208734,1990-11-25,NaN
4,07me52f8-k054-9rfp-60c0-j9ula126161j,Pedro,Fernández,pedrofernandez@gmail.com,5.432117e+11,"San Fernando, Buenos Aires, Argentina",28158580,1992-09-10,NaN

In [6]:
df['id_user'] = df['id_user'].apply(lambda x: np.NaN)

In [16]:
df['phone'] = df['phone'].apply(lambda x: int(f'5411{"".join([str(random.choice(range(0, 10))) for i in range(9)])}'))

In [17]:
df.to_csv('version2.csv', index=False)